<section class="bodyMain">

    <section class="n_banner pr home_banner">
        <div class="pr oh bann_img">
            <img src="/upload/images/2016/11/26/2dccd22773af40e6b1a180b195ce2095.jpg" alt="新闻中心" />
        </div>
        <h3 class="posi pa"></h3>
    </section>
    <!--main-->
    <section class="pageMain news_home">
        <!--part1-->
        <div class="part1">
            <div class="wrap">
                <div class="part1_hd part_hd wow fadeInDown">
                    <h2 class="_title channl_title"><a href="/news/re-dian-zi-xun.jsp">热点资讯</a></h2>
                    <div class="_text fix">
                        <div class="_text_l l">
                            聚集公司实时动态，发布亨通集团最新新闻，欢迎您的关注！
                        </div>
                        <a title="热点资讯" href="/news/re-dian-zi-xun.jsp" target="" class="_more r">查看更多 &gt;</a>
                    </div>
                </div>
                <div class="part1_bd fix" id="redian">
                </div>
            </div>
        </div>
        <!--part1 end-->

        <!--part3-->
        <div class="part3">
            <div class="wrap fix">
                <div class="part3_l l wow fadeInLeft">
                    <div class="part3_hd part_hd">
                        <div class="_text fix">
                            <h2 class="_title channl_title l"><a href="/news/mei-ti-shi-jiao.jsp">媒体聚集</a></h2>
                            <div class="_text_l l"></div>
                            <a title="媒体聚集" href="/news/mei-ti-shi-jiao.jsp" target="" class="_more r">查看更多 &gt;</a>
                        </div>
                    </div>
                    <div class="part3_l_bd">
                        <ul id="meitiList">
                        </ul>
                    </div>
                </div>
                <div class="part3_r r wow fadeInRight">
                    <!--此处不循环-->
                    <ul class="full-row">
                        <li class="span-6 smal-12 li1"> <a href="/news/chu-ban-wu-list-0.htm" target="" title="出版物" class="_text_box "> <h3 class="_title trans">出版物</h3>
                            <div class="_text trans">
                                了解更多
                            </div> </a> </li>
                        <li class="span-6 smal-12 li2"> <a href="/news/chu-ban-wu-detail-12549.htm" target="">
                            <div class="_img_box">
                                <div class="_img rect-75 imgZoom">
                                    <img src="/upload/images/2016/11/24/194c7abed95d48b79bf86e8f9fd7b827.jpg" alt="1" />
                                </div>
                            </div></a> </li>
                        <li class="span-6 smal-12 li3"> <a href="/news/zhuan-ti-bao-dao-detail-197.htm" target="">
                            <div class="_img_box">
                                <div class="_img rect-75 imgZoom">
                                    <img src="/upload/images/2016/11/30/7ee6154243504bdea9f40cc4483a0ef8.jpg" alt="2" />
                                </div>
                            </div></a> </li>
                        <li class="span-6 smal-12 li4"> <a href="/news/zhuan-ti-bao-dao-detail-197.htm" target="" title="专题报道" class="_text_box text_box_02"> <h3 class="_title trans">专题报道</h3>
                            <div class="_text trans">
                                了解更多
                            </div> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--part3 end-->
        <!--part4-->
        <div class="part4">
            <div class="wrap">
                <div class="part4_hd part_hd wow fadeInDown">
                    <div class="_text fix">
                        <h2 class="_title channl_title l"><a href="/news/xing-ye-zi-xun.jsp">行业资讯</a></h2>
                        <a title="行业资讯" href="/news/xing-ye-zi-xun.jsp" target="" class="_more r">查看更多 &gt;</a>
                    </div>
                </div>
                <div class="part4_bd wow fadeInUp">
                    <ul class="full-row" id="zxList">
                    </ul>
                </div>
            </div>
        </div>
        <!--part4 end-->
    </section>
    <!--main end-->
</section>