<#include "_layout.html"/>
<@layout>
<style type="text/css">
    .channelT {
        background: url(${CTPATH}/images/channelT_bg.jpg) no-repeat center;
        height: 100px;
        color: #fff;
        padding-left: 50px;
        padding-top: 20px;
    }
    .channelT h2 {
        font-size: 30px;
        font-weight: normal;
        line-height: 80px;
    }
    .mainLeft {
        width: 15%;
        padding-top: 3%;
    }
    .subnavs {
        padding: 15px 0;
        background: #fff;
        margin-bottom: 20px;
    }
    .subnavs>li.cur {
        background: #976132;
        color: #fff;
    }
    .subnavs>li>a {
        display: block;
        padding: 0 12px;
        font-size: 14px;
        line-height: 42px;
        border-bottom: #dadadb solid 1px;
    }
    a {
        color: inherit;
        cursor: pointer;
    }
    .mainRight {
        margin-top: 3%;
        margin-left: 3%;
        padding:2% ;
        width: 76%;
        background: #fff;
        min-height: 500px;
        float: left;
    }
    .newsSear, .media {
        background: #fff;
        padding: 20px;
    }
    .media ._t {
        text-indent: 15px;
        font-size: 18px;
        border-bottom: #dadadb solid 1px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .media p {
        font-size: 14px;
        text-indent: 15px;
    }
    /*ul, menu, dir {*/
    /*display: block;*/
    /*list-style-type: disc;*/
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
    /*}*/
    /*ul {*/
    /*padding-left: 0;*/
    /*list-style-type: none;*/
    /*}*/
    .inewsSearch {
        padding: 20px 7% 28px;
        background-color: #fff;
    }
    .inewsSearch .sec_hd {
        margin-bottom: 8px;
    }
    .inewsSearch .sec_bd .nselect {
        margin-bottom: 15px;
        height: 40px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .nselect .c_select {
        display: block;
        width: 100%;
        background-color: #e5e5e5;
        height: 40px;
        line-height: 40px;
        border-radius: 0!important;
    }
    input[type="hidden" i], input[type="image" i], input[type="file" i] {
        -webkit-appearance: initial;
        background-color: initial;
        padding: initial;
        border: initial;
    }
    .nInput {
        display: block;
        height: 39px;
        border: #ddd 1px solid;
        padding: 0 20px;
        overflow: hidden;
        margin-bottom: 15px;
        background-color: #fff;
    }
    .nInput input {
        width: 100%;
        height: 19px;
        line-height: 19px;
        padding: 10px 0;
        vertical-align: top;
        border-width: 0;
        font-family: "Microsoft Yahei";
    }
    input {
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        user-select: text;
        cursor: auto;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
    .subnavs>li.cur a {
        border-bottom: none;
        color: #fff;
    }
    .subnavs>li>a {
        display: block;
        padding: 0 12px;
        font-size: 14px;
        line-height: 42px;
        border-bottom: #dadadb solid 1px;
    }
    .subnavs>li>a i {
        float: right;
        padding: 0;
        margin: 0;
    }
    .nBtn {
        overflow: hidden;
    }
    .nBtn a {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #a47c29;
        color: #fff;
        font-size: 16px;
        text-align: center;
    }

    input, textarea, select, button {
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        margin: 0em 0em 0em 0em;
        font: 13.3333px Arial;
    }
    input, textarea, select, button, meter, progress {
        -webkit-writing-mode: horizontal-tb;
    }

</style>
<section class="bodyMain">
    <!--header end-->
    <section class="n_banner pr home_banner">
        <div class="pr oh bann_img">
            <img src="${CTPATH}/images/16pic_1711917_b.jpg" alt="新闻中心" />
        </div>
        <h3 class="posi pa"> <a href="/">首页</a><span>&nbsp;&gt;&nbsp;</span> <a href="/about/index.htm">关于双欣</a><span>&nbsp;&gt;&nbsp;</span> 双欣简介 </h3>
    </section>
    <section class="pageMain news_home">
        <div class="part1">
            <div class="wrap">
                <div class="mainLeft l">
                    <div class="channelT">
                        <h2>新闻资讯</h2>
                    </div>
                    <ul class="subnavs">
                        <@jp.taxonomys module="news">
                        <#list taxonomys as taxonomy>
                            <#if "/sx-group/news-news-1.html" != taxonomy.url!>
                                <li <#if REQUEST.requestURI ? contains(taxonomy.url)> class="cur" </#if>> <a href="${taxonomy.url!}">${taxonomy.title!}<i class="ion"></i></a></li>
                            </#if>
                        </#list>
                    </@jp.taxonomys>
                    </ul>


                    <div class="media">
                        <h3 class="_t">媒体联络</h3>
                        <p>内蒙古双欣集团有限公司</p>
                        <ul>
                            <li><i class="ion">&#xe73d;</i>传真：0477-8565688</li>
                            <li><i class="ion">&#xe626;</i>电话：0477-8565660</li>
                        </ul>
                    </div>

                </div>
                <div class="mainRight r">
                    <div class="part1_hd part_hd wow fadeInDown">
                        <h3 class="x-box-title">${content.title!}</h3>
                        <p>${content.text!}</p>
                    </div>

                </div>
            </div>
        </div>


    </section>
</section>



</@layout>

