<#include "_layout.html"/>
<@layout>

<!-- banner -->

<section class="videoBanner">
    <div class="banner slide slide_effect_slide">
        <!--transform: translateZ(0px) translateX(-1583px); height: 522px; width: 4749px;-->
        <ul class="slide_wrap" style="">
            <li class="slide_c active" style="width: 1583px;"> <img src="${CTPATH}/images/b1d0aa00b14145cda4201c2b50703d55.jpg" alt="" class=""> </li>
            <li class="slide_c" style="width: 1583px;"> <img src="${CTPATH}/images/3180ad404fdc4df29eda587028fc8dff.jpg" alt="传输进步 繁荣社会" class=""> </li>
            <li class="slide_c " style="width: 1583px;"> <img src="${CTPATH}/images/lng.jpg" alt="创造卓越 崇尚文明" class=""> </li>
            <!--<li class="slide_c " style="width: 1583px;"> <img src="/upload/images/2017/02/10/52962314cf594b3cad8a5d0206591947.jpg" alt="创造卓越 崇尚文明" class=""> </li>
            <li class="slide_c" style="width: 1583px;">
                <video loop="" id="video" poster="">
                    <source src="/resources/web/img/bg_movie.mp4" type="video/mp4;">
                </video>
                <div class="cover">
                </div> <i class="i_banner_ico"></i> <img src="/upload/images/2017/01/25/cc5ad87b8e1f4304bc096ba08843f659.jpg" alt="亨通宣传片" class="video_img"> </li>-->
        </ul>
        <div class="vbtn">
            <a href="javascript:void(0);" class="stop arr_prev"></a>
            <a href="javascript:void(0);" class="play arr_next"></a>
        </div>
        <div class="slide_nav"><a class="on">1</a><a class="nav_next">2</a><a class="nav_prev">3</a><!--<a class="nav_prev">4</a>--></div></div>
</section>
<!-- banner end-->

<!-- 第一部分 -->
<section class="cen_box1">
    <div class="wrap">
        <div class="p1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            打造世界知名品牌 成就国际优秀企业
        </div>
        <div class="p2 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <p>围绕集团四大战略，持续实施四大融合协同，合力推进四大转型，全面提升企业品牌影响力和综合竞争力，<br>打造协同创新发展的高科技、国际化产业集团。</p>
        </div>
    </div>
</section>
<!-- 第一部分 end-->
<!-- 第二部分 -->
<!-- 在pc、ipad上显示  -->
<section class="cen_box2 UnmobilePush">
    <div class="rolling maxWrap">
        <ul class="full-row rolling-box oh">
            <li class="span-3 smal-12 is_animated tansDelay0 li2 imgHover revealed">
                <div class="rect-66">
                    <img src="${CTPATH}/images/pva.jpg" alt="化工产业" class="_full">
                    <a href="http://www.shuangxinpva.com/" title="化工产业" class="cover"><h3 class="title">化工产业</h3> <span
                            class="m_detail">了解更多 &gt;</span> </a>
                </div>
            </li>
            <li class="span-3 smal-12 is_animated tansDelay200 li3 imgHover revealed">
                <div class="rect-66">
                    <img src="${CTPATH}/images/electricity.jpg" alt="电力产业" class="_full">
                    <a href="#" title="电力产业" class="cover"><h3 class="title">电力产业</h3> <span
                            class="m_detail">了解更多 &gt;</span> </a>
                </div>
            </li>
            <li class="span-3 smal-12 is_animated tansDelay400 li4 imgHover revealed">
                <div class="rect-66">
                    <img src="${CTPATH}/images/gas.jpg" alt="清洁能源产业" class="_full">
                    <a href="#" title="清洁能源产业" class="cover"><h3 class="title">清洁能源产业</h3> <span class="m_detail">了解更多 &gt;</span>
                    </a>
                </div>
            </li>
            <li class="span-3 smal-12 is_animated tansDelay600 li5 imgHover revealed">
                <div class="rect-66">
                    <img src="${CTPATH}/images/chemical factory.jpg" alt="煤炭产业" class="_full">
                    <a href="#" title="煤炭产业" class="cover"><h3 class="title">煤炭产业</h3> <span
                            class="m_detail">了解更多 &gt;</span> </a>
                </div>
            </li>

        </ul>
    </div>
</section>
<!-- 只有手机上显示  -->
<section class="cen_box2  MobilePush">
    <div class="cen2_scroll">
        <ul class="oh">
            <li>
                <div class="rect-66">
                    <img src="${CTPATH}/images/pva.jpg" alt="化工产业" class="_full">
                    <a href="#" class="cover"><h3 class="title">化工产业</h3> <span class="m_detail">了解更多</span> </a>
                </div>
            </li>
            <li>
                <div class="rect-66">
                    <img src="${CTPATH}/images/electricity.jpg" alt="电力产业" class="_full">
                    <a href="#" class="cover"><h3 class="title">电力产业</h3> <span class="m_detail">了解更多</span> </a>
                </div>
            </li>
            <li>
                <div class="rect-66">
                    <img src="${CTPATH}/images/gas.jpg" alt="清洁能源产业" class="_full">
                    <a href="#" class="cover"><h3 class="title">清洁能源产业</h3> <span class="m_detail">了解更多</span> </a>
                </div>
            </li>
            <li>
                <div class="rect-66">
                    <img src="${CTPATH}/images/chemical factory.jpg" alt="煤炭产业" class="_full">
                    <a href="#" class="cover"><h3 class="title">煤炭产业</h3> <span class="m_detail">了解更多</span> </a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- 第二部分 end-->
<!-- 第四部分 -->
<section class="cen_box4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;padding: 15px 0px 0px;">
    <div class="maxWrap unable">
        <ul style="height: 188px;" class="slide_wrap">
            <li class="slide_c" style="display: list-item;"><a href="#"><img src="${CTPATH}/images/news.jpg" alt="新闻中心">
                <h2 class="c_tit tc pa animated fadeInDown">新闻中心</h2>
                <div class="p tc pa animated fadeInUp">
                    聚焦双欣新闻，熟悉行业动态，第一时间了解您身边的双欣。
                </div>
            </a></li>
        </ul>
    </div>
</section>
<!-- 第四部分 end-->
<!-- 第五部分 -->
<section class="cen_box5">
    <div class="wrap">
        <ul class="row">

            <li class="span-3 smal-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="pbox">
                    <a href="#" title="双欣光电承建宁苏量子干线延长线" class="rect-65 imgZoom"><img
                            src="${CTPATH}/images/chemical factory.jpg" alt="双欣光电承建宁苏量子干线延长线"></a>
                    <div class="info">
                        <div class="date pr">2017-03-16
                            <span class="bdsharebuttonbox bdshare-button-style0-24" data-tag="share_s"
                                  data-bd-bind="1489722550764">
								<a href="#" class="bds_more" data-cmd="more"><i class="ion"></i></a>
							</span>
                        </div>
                        <a href="#" title="双欣光电承建宁苏量子干线延长线">
                            <h3 class="title el">双欣光电承建宁苏量子干线延长线</h3>
                            <div class="p">2017年3月，经江苏省经信委批准，由江苏双欣光电股份有限公司承建的宁苏...</div>
                        </a>

                        <a href="#" class="columns">热点资讯</a>
                    </div>
                </div>
            </li>

            <li class="span-3 smal-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="pbox">
                    <a href="#" title="江苏省副省长马秋林莅临双欣调研" class="rect-65 imgZoom"><img
                            src="${CTPATH}/images/chemical factory.jpg" alt="江苏省副省长马秋林莅临双欣调研"></a>
                    <div class="info">
                        <div class="date pr">2017-03-16
                            <span class="bdsharebuttonbox bdshare-button-style0-24" data-tag="share_s"
                                  data-bd-bind="1489722550764">
								<a href="#" class="bds_more" data-cmd="more"><i class="ion"></i></a>
							</span>
                        </div>
                        <a href="#" title="江苏省副省长马秋林莅临双欣调研">
                            <h3 class="title el">江苏省副省长马秋林莅临双欣调研</h3>
                            <div class="p">3月15日，江苏省副省长马秋林率省政府调研组来到双欣，就智能制造和工业转...</div>
                        </a>

                        <a href="#" class="columns">热点资讯</a>
                    </div>
                </div>
            </li>

            <li class="span-3 smal-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="pbox">
                    <a href="#" title="海门双欣荣获省级高新技术企业认证" class="rect-65 imgZoom"><img
                            src="${CTPATH}/images/chemical factory.jpg" alt="海门双欣荣获省级高新技术企业认证"></a>
                    <div class="info">
                        <div class="date pr">2017-03-14
                            <span class="bdsharebuttonbox bdshare-button-style0-24" data-tag="share_s"
                                  data-bd-bind="1489722550764">
								<a href="#" class="bds_more" data-cmd="more"><i class="ion"></i></a>
							</span>
                        </div>
                        <a href="#" title="海门双欣荣获省级高新技术企业认证">
                            <h3 class="title el">海门双欣荣获省级高新技术企业认证</h3>
                            <div class="p">近日，双欣电力产业集团江苏双欣电子线缆科技有限公司，收到由江苏省科学技术...</div>
                        </a>

                        <a href="#" class="columns">热点资讯</a>
                    </div>
                </div>
            </li>

            <!-- 最后一个是视频，在li上加last类名 -->
            <li class="span-3 smal-12 last wow fadeInUp delay600" id="videoPre"
                style="visibility: visible; animation-name: fadeInUp;">
                <div class="pbox" data-v="#">
                    <a href="javascript:;" class="rect-100 imgZoom"><img src="${CTPATH}/images/chemical factory.jpg"
                                                                         alt="双欣集团企业宣传片" class="_full"> <span
                            class="cover"><span class="_play"></span> <h3 class="title tc">双欣集团企业宣传片</h3> </span> </a>
                    <div class="info">
                        <a href="#" class="columns">视频中心</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="tc  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <a href="#" class="m_detail">了解更多 &gt;</a>
        </div>
    </div>
</section>
<!-- 第五部分 end-->
<!-- 第六部分 -->
<section class="cen_box6">
    <div class="maxWrap rolling">
        <ul class="full-row rolling-box">
            <li class="span-6 smal-12 is_animated tansDelay0 revealed">
                <div class="pbox pr imgHover">
                    <a href="#" class="rect-55"><img src="${CTPATH}/images/laboratory.jpg" alt="创新发展" class="_full"></a>
                    <a href="#" class="cover pa"><h2 class="title">创新发展</h2>
                        <!--<div class="tit_en">Innovation and Development</div>--> <span
                                class="m_detail">了解更多 &gt;</span> </a>
                    <span class="cover_bg transition pa"></span>
                </div>
            </li>
            <li class="span-6 smal-12 is_animated tansDelay200 revealed">
                <div class="pbox pr imgHover">
                    <a href="#" class="rect-55"><img src="${CTPATH}/images/responsibility.jpg" alt="社会责任" class="_full"></a>
                    <a href="#" class="cover pa"><h2 class="title">前景规划</h2>
                        <!--<div class="tit_en">Innovation and Development</div>--> <span
                                class="m_detail">了解更多 &gt;</span> </a>
                    <span class="cover_bg transition pa"></span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- 第六部分 end-->
</@layout>